$background-color: #A9B4C2;
$header-color: #5E6572;
$text-color: #1C2321;
$footer-color: #EEF1EF;

header {
  background-color: $header-color;
}

body {
  background-color: $background;

  color: $text-color;
}

footer {
  background-color: $footer-color;
}
